#map {
	width: 100%;
	height: 600px;
}

.headerpadding {
	padding: 15px;
}

.header-line {
	background-color: #ff9a1a;
	min-height: 82px;
	.logosmall {
		margin-left: 1.5vw;
	    height: 52px;
		margin-top: 15px;
	}
}

.vkapi_vk_login {
	width: 100% !important;
	margin-top: 15px;
}

.menu-main-container {
	margin-right: 1vw;
	position: relative;
	float: right;
	ul {
		margin-bottom: 0px;
		li {
			list-style-type: none; 
			float: left;
			padding-left: 15px;
			padding-right: 15px;			
			cursor: pointer;
				&:hover {
				background-color: #ff8400;
				}
			a {			
			color: #fff; 
			font: 18px Lato, Arial, Helvetica, sans-serif; 	
			line-height: 82px;
			display: block;
			outline-style: none;
				&:hover {
					color: #fff;
					text-decoration:none;
					}
					
			}
			.sub-menu {
				display: none;
				position: absolute;
				width: 220px;
				padding-left: 0px;
				background-color: #ff8400;
				margin-left: -15px;
				z-index: 1;
				li {
					width: 100%;					
					a {
					line-height: 36px;
					}
						a:hover {
								font-size: 20px;
							}					
				}		
			}
			&:hover .sub-menu {
				display: block;
			}
		}
		.current-menu-item {
			text-decoration: underline; 
		}
	}
}

.regbtn {
	background-color: #ff3c00;
	border-radius: 4px;
	padding: 10px 30px !important;
	margin-bottom: 20px;
	margin-top: 20px;		
	font: 18px Lato, Arial, Helvetica, sans-serif; 
	color: #fff;
	text-transform: uppercase;
	&:hover {
		color: #fff !important;
	}
}

.btn-orange {
	background-color: orangered;
	border-color: orange;
	font-weight: bold !important; 
	&:hover {
		background-color: #CA4616; 
	}
}
.btn-primary {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px; 
}
.line-through {
	text-decoration: line-through;
}
.usersection {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: cadetblue;
	#signinbutton {
		margin-top: 0 !important;
		margin-left: 15px;
	}
}
footer {
	background-color: #F5F5F5;
	.col-md-4 {
		margin-top: 30px;
		margin-bottom: 30px;
		font: 16px Lato, Arial, Helvetica, sans-serif;
		line-height:150%;
		.socialicons {
			float: right;
		}
	}
} 
 
.page-id-44 .menu-main-container {
		display:none;
	}
 
#landingpage {
	background-image: url('/images/landingbg.jpg');	
    background-size: cover;
    background-position: center center;	
	padding: 10vh;
	.slogantop {
		font: 36px Lato, Arial, Helvetica, sans-serif; 
		color: #fff;
		text-transform: uppercase;
	}
	.mainlogo {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.btnblock {
		margin-top: 30px;				
		.regbtn {
			width: 300px;
			background-color: #ff3c00;
			border-radius: 4px;
			padding-top:15px; 
			padding-bottom:15px;
			margin-bottom: 20px;
			margin-top: 20px;
			font: 18px Lato, Arial, Helvetica, sans-serif; 
			color: #fff;
			text-transform: uppercase;	
			outline: none;
		}	
		.vkbtn {
			background-color: #4b77a2;	
		}
		.fbbtn {
			background-color: #3b5998;
		}
	}
	.hero {
		color: #fff;
		font: 22px Lato, Arial, Helvetica, sans-serif;		
	}
}

.modal-backdrop {
	background-color: #fff !important;
}

.modal-content {
	margin-top: 10vw;
	box-shadow: none !important;
    border: none !important;
	.modal-title {
		color: #f2992e;
		font: 30px Lato, Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		margin-top: 10px;	
	}
	.modal-header {
		border: none;
	}
	label {
	    font-weight: 400;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.form-control {
	    width: 60%;
		height: 36px;
		margin-bottom: 15px;
	}
}

.main {
	background-color: #ff9a1a;
	.slogantop {
		font: 26px Lato, Arial, Helvetica, sans-serif; 
		color: #fff;
		margin-bottom: 30px;	
		text-transform: uppercase;
	}
	.mainlogo {
		margin-bottom: 30px;
	}	
	p {
		color: #fff;
		font: 26px Lato, Arial, Helvetica, sans-serif;		
		a {
			color: #fff;
			outline-style:none;
		}
	}
	.margin {
		margin-bottom: 30px;
		text-transform: uppercase;
	}	
	.videoblock {
	background-image: url('/images/videobg.jpg');	
    background-size: cover;
    background-position: center center;	
	padding: 5vw;
	margin-top: 50px;
	}
	.searchform {
		margin-bottom: 30px;		
	}
	.searchform input {
	    border: none;
		padding: 10px;
		font-size: 18px;
		border-radius: 4px;
		width: 400px;
		box-shadow: 0px 5px 18px -8px #515151 inset;
		outline-style: none;
	    background-image: url('/images/location.png');
		background-repeat: no-repeat;
		padding-left: 40px;	
	}
	.regbtn {
		background-color: #ff3c00;
		border-radius: 4px;
		padding:10px 30px;
		margin-bottom: 20px;
		margin-top: 20px;		
		font: 18px Lato, Arial, Helvetica, sans-serif; 
		color: #fff;
		text-transform: uppercase;
	}
	.main-content {
		background-color: #fff;
		padding-top: 50px;
		padding-bottom: 40px;
		h1 {
			text-transform: uppercase;
			font-weight: bold;
			color: #ff9a1a; 
		}
		p {
		color: #000;
		font: 16px Lato, Arial, Helvetica, sans-serif; 
		line-height: 150%;
		text-align: left;
			a {
			color: #337ab7;
			font: 16px Lato, Arial, Helvetica, sans-serif;
			}
		}
		.homepage-img {
			float: left;
			padding-right: 40px;
			padding-bottom: 20px;	
		}
	}
	.mobileapp {
		background-color: #ff9a1a;
		h2 {
			color: #fff;
			font: 36px Lato, Arial, Helvetica, sans-serif;
			font-weight: bold;
			padding-top: 30px;
		}
		p {
			font: 26px Lato, Arial, Helvetica, sans-serif;

		}
		.iphone {
			float: right;
		    padding-top: 50px;	
		}
		.appplatform img {
			width: 180px;
			margin-right: 20px;
			margin-top: 15px;
		}
	}
}

.iconsblock {
	width: 40%;
	display: inline-block;	
	.icon {
		width: 25%;
		float: left;
		position: relative;
		img {
			width:70%;
		}
		.floatleft {
			float: left;
			margin-left: 1.4vw;
		    margin-bottom: 20px;
		}
		.iconhover {
			position:absolute;
			left:1.4vw;
			opacity:0;
			transition: all 0.5s ease;
			&:hover {
				opacity:1;
				transition: all 0.5s ease;
			}
		}		
		.icontitle {
			margin-bottom: 20px;			
			font: 18px  Lato, Arial, Helvetica, sans-serif; 
			color: #fff;
			text-transform: uppercase;		
		}
	}
}

.iconsblock2 {
	width: 30%;
	display: inline-block;	
	.icon {
		width: 33%;
		float: left;
		position: relative;
		img {
			width:70%;
		}
		.floatleft {
			float: left;
			margin-left: 1.4vw;
		    margin-bottom: 20px;
		}
		.iconhover {
			position:absolute;
			left:1.4vw;
			opacity:0;
			transition: all 0.5s ease;
			&:hover {
				opacity:1;
				transition: all 0.5s ease;
			}
		}			
		.icontitle {
			margin-bottom: 30px;			
			font: 18px Lato, Arial, Helvetica, sans-serif; 
			color: #fff;
			text-transform: uppercase;		
		}
	}
}

.underline {
	text-decoration: underline;
}

.pageheader {
	background-color: #ff9a1a;
	min-height:100px;
	padding: 15px;
	img {
		width: 70px;
		float: left;
	    margin-right: 30px;	
	}
	p {
		margin-top: 25px;
		font: 18px  Lato, Arial, Helvetica, sans-serif; 
		color: #fff;
		text-transform: uppercase;
		.breadcrombs {
			float: right;
			text-transform: lowercase;
		}
	}
}

.breadcrumbs {
	padding: 1.5vw;
	border-bottom: 1px solid #eeeeee;
	font: 14px  Lato, Arial, Helvetica, sans-serif;	
    text-align: center;	
}

.maincontent {
	padding-top: 1.5vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	.filter {
		width: 25%;
		float: left;
		background-color: #f9f9f9;
		border: 1px solid #eeeeee;
		padding:20px;
	}
	.mastersblock {
		width: 75%;
		display: inline-block;
		.col-md-3 { 
			border-right: 1px solid #eeeeee;
			margin-bottom: 50px;
			padding:20px;
			img {			
				border-radius: 50%;
			}	
			.masters-name {
				margin-top: 25px;
				font: 18px  Lato, Arial, Helvetica, sans-serif;				
			}
			.price {
				color: green;
				font: 18px Lato, Arial, Helvetica, sans-serif;	
				font-weight: bold;
			}
			.searchbtn {
				background-color: #ff3c00;
				border-radius: 4px;
				border: none;
				padding: 5px 15px;
				margin-top: 10px;
				font: 16px Lato, Arial, Helvetica, sans-serif;
				color: #fff;
				text-transform: uppercase;	
			    outline-style: none;	
			}
		}
		.content {
			margin-left: 30px;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-right: 20px;
			font: 16px Lato, Arial, Helvetica, sans-serif;
			line-height: 150%;
			display: inline-block;		
			.icon {
			float: right;
				img {
					position: absolute;
					right: 0;
				}
			}
			.text {
				padding-right: 250px;
				h1 {
					margin-top: 0;
				}
				ul {
					padding-left: 30px;				
					li {
						list-style-image: url(/images/bullitt.png);
					}
				}	
			}
		}
	}
}

body.page-id-39 {
	background-color: #ff9a1a;
	font-family: Lato, Arial, Helvetica, sans-serif;
	.container {
		background-color: #fff;
		padding: 30px;
		.profilehead {	
			display: inline-block;
			width: 100%;
			margin-bottom: 30px;
			.ava {
				margin-right: 30px;
				float: left;
				img {
					border-radius: 50%;
				}
				.avaupload {
					position: absolute; 
				}
			}
			p {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
	.tab-content {
	    margin-top: 30px;
		.messages {	
			padding-left: 0px;
			li {
				padding: 15px;
				background-color: whitesmoke;
				border-radius: 10px;
				list-style: none;
				margin-bottom: 20px;
				&:hover {
					background-color: white;
				}
				.messageava {
					width: 50px;
					height: 50px;
					margin-right: 15px;
				}
				.messagename {
				    text-transform: uppercase;
				}	
				.messagecounter {
					float: right;
					padding-top: 8px;

					img {
						margin-bottom: 6px;
						margin-left: 20px;
					}
					.mymessagenumber {
						color: white;
						background-color: #FF9A1A;
						padding: 4px 8px;
						border-radius: 50%;
						margin-left: 20px;
						margin-right: 20px;
					}
				}
				.rang {
					float: right;
				    padding: 8px;
					color: #FF9A1A;
					font-size: 22px;
					font-weight: bold;
				}
				.testimonialseparator {
				    display: block;
					border-top: 1px solid #ddd;
				    margin-top: 15px;
					padding-top: 15px;	
				}	
			}
		}
		.button {					
			background-color: #ff3c00;
			border-radius: 4px;
			padding: 5px 10px;
			color: #fff;
			outline: none;
			float: right;
			border: none;
			margin: 10px;
		}
		.form-control {
		    border: 1px solid #DDD;
			background-color: whitesmoke;
		}
		#becomemaster {
			.accordion-group {
				.accordion-heading {
				    background-color: #FF9A1A;
					padding: 10px;
					margin-bottom: 10px;
					border-radius: 5px;
					text-align: center;
					a {
					color: #fff;
					font-size: 18px;
					text-transform: uppercase;
					margin-left: 10px;
					}
					img {
						width: 60px;
					}
				}
				.accordion-inner {
					ul {
						span {
						font-size: 18px;
						text-transform: uppercase;
						margin-bottom: 10px;						
						}
						li {
							font-size: 18px;
						    margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
	.nav-tabs.nav-justified {		
			border-left: 1px solid #ddd;		
		li {
			border-top: 1px solid #ddd;			
			border-right: 1px solid #ddd;
			background-color: #f5f5f5;
			box-shadow: 0px -7px 13px -9px #747474 inset;
			a {
				line-height: 45px;
				color: #545454;
				.mymessagenumbermain {
					color: white;
					background-color: #FF9A1A;
					padding: 2px 6px;
					border-radius: 50%;
					margin-left: 10px;
				}	
			}
			&.active a {
				border: 1px solid white;	
			}
			.profileicons {
				margin-right: 15px;
				width: 30px;
			}
		}
	}
}
.orangescreen {
	background-color: #FFF;	
	.howitworks-content {
		font: 16px Lato, Arial, Helvetica, sans-serif; 
		line-height: 150%;
		color: #000;
		margin-top: 50px;
		margin-bottom: 50px;
		.blocks {
			display: inline-block;
			margin-bottom: 50px;
			.width {
				width: 100%;
			}
		}
		h1 {
			color: #ff9a1a;
			margin-bottom: 20px;			
		}
		h2 {
			margin-bottom: 20px;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 20px;
				display: inline-block;
				h3 {
					margin-top: 22px;
				}
				p {
					display: inline-block;
					margin-top: 20px;
				}
				img {
					float: left;
				    margin-right: 10px;
					width: 70px;
				}
			}
		}
		ol {
			li {
				margin-bottom: 20px;
			}
		}	
		.feedback {
			color: #FFF;	
		}
		.feedback-block {
			p {
				margin-top: 15px;
			}			
			input, textarea {
				border: none;
				background-color: whitesmoke;
				display: block;
				width: 100%;
				box-shadow: 0px 5px 18px -8px #515151 inset;
				height: 34px;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.42857143;
				color: #555;
				border-radius: 4px;
				margin-bottom: 20px;
				-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
				&:focus {
					box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);    
					outline-color: rgba(148,182,237,0.3);
				}	
			}	
			input[type="submit"] {					
			background-color: #ff3c00;
			border-radius: 4px;
			padding: 5px 10px;
			color: #fff;
			outline: none;
			float: left;
			border: none;
			width: 150px;
		    box-shadow: none;	
			}	
			textarea {
			    height: 100px;
			}
		}	
	}	
}
.about-us-content {
	font: 16px Lato, Arial, Helvetica, sans-serif; 
	line-height: 150%;
	margin-top: 50px;
	margin-bottom: 50px;
	h1 {
		color: #FF9A1A;	
	}
	.oproecte {
		display: inline-block;
		.col-md-5 {
			padding: 0;

			img {
				width: 90%;	
				float: right;				
			}
		}
	}
	ul {
		li {
			margin-bottom: 10px;
			list-style-image: url(/images/bullitt.png);
			.strong {
				font-weight: bold;
			    color: #337AB7;
			}
		}
	}
	.feedback {
		color: #FF9A1A;	
	}
	.feedback-block {
		p {
			margin-top: 15px;
		}
		input, textarea {
			border: none;
			background-color: whitesmoke;
			display: block;
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			box-shadow: 0px 5px 18px -8px #9B9B9B inset;
			line-height: 1.42857143;
			color: #555;
			border-radius: 4px;
			margin-bottom: 20px;
			-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			&:focus {
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);    
				outline-color: rgba(148,182,237,0.3);
			}	
		}	
		input[type="submit"] {					
		background-color: #ff3c00;
		border-radius: 4px;
		padding: 5px 10px;
		color: #fff;
		outline: none;
		float: left;
		border: none;
		width: 150px;
		box-shadow: none;
		}
		textarea {
			height: 100px;
		}		
	}	
}

.background {
	background-image: url('/images/blog-wallpaper.jpg');
	padding-top: 100px;
	padding-bottom: 100px;
	.floatright {
		float: right;
		p {
			font: 26px Lato, Arial, Helvetica, sans-serif;
		    text-align: right;
			color: #fff;	
		}
		.searchbtn {
			background-color: #FFFFFF;
			border-radius: 5px;
			border: none;
			padding: 7px 20px;
			margin-top: 10px;
			font: 26px Lato, Arial, Helvetica, sans-serif;
			color: #FF9A1A;
			text-transform: uppercase;
			float: right;
			outline-style: none;
		}
	}	
}

.blog-wrapper {
	font: 16px Lato, Arial, Helvetica, sans-serif; 
	line-height: 150%;
	margin-top: 40px;
	margin-bottom: 40px;
	display:inline-block;
	.col-md-9 {
		padding: 20px 40px;
		background-color:#fff;
		border: 1px solid #ddd;
		.post {
			border-bottom: 1px solid #ddd;
			margin-bottom: 30px;
			padding-bottom: 30px;
			img {
			    float: left;
				margin-right: 30px;
			    border-radius: 50%;	
			    width: 150px;
				height: auto;	
			}
			p {
			margin-top: 10px;
			margin-bottom: 0;
			}
		}
	}
	.col-md-3 {
		padding-left: 30px;
		img {
			width: 100%;
			margin-bottom: 20px;
		}
		.blog-category {
		    color: #FF9A1A;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
	h1 {
		color: #FF9A1A;	
		margin-top: 0;
		margin-bottom: 40px;
	}	
	.menu-sidebar-blog-container {
		ul {			
			list-style: none;
			padding-left: 0px;
			border: 1px solid #ddd;	
			background-color: #FFF;
			li {			    
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 20px;
				cursor: pointer;
				a {
					color: #000;
				}
				&:last-child {
					border-bottom: none;
					margin-bottom: 0px;
				}
				&:hover {
					background-color: #FF9A1A;
					a {
						color: white;
					}
				}
			}
		}
	}	
}

.post-wrapper {
	font: 16px Lato, Arial, Helvetica, sans-serif; 
	line-height: 150%;
	margin-top: 40px;
	margin-bottom: 40px;
	display:inline-block;
	.col-md-9 {
		padding:20px 40px;
		background-color:#fff;
		border: 1px solid #ddd;
		.post {
			padding-bottom: 20px;
			img {
			    float: left;
				margin-bottom: 20px;
				width: 100%;
				height: auto;
			}
			p {
			margin-top: 10px;
			margin-bottom: 0;
			}
		}
	}
	.col-md-3 {
		padding-left: 30px;
		img {
			width: 100%;
			margin-bottom: 20px;
		}
		.blog-category {
		    color: #FF9A1A;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
	h1 {
		color: #FF9A1A;	
		margin-top: 0;
		margin-bottom: 30px;
	}	
	.menu-sidebar-blog-container {
		ul {			
			list-style: none;
			padding-left: 0px;
			border: 1px solid #ddd;	
			background-color: #FFF;
			li {			    
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 20px;
				cursor: pointer;
				a {
					color: #000;
				}
				&:last-child {
					border-bottom: none;
					margin-bottom: 0px;
				}
				&:hover {
					background-color: #FF9A1A;
					a {
						color: white;
					}
				}
			}
		}
	}	
}

.page404 {
	font: 100px Lato, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
    margin-bottom: 50px;	
} 
.error404 .header-line {
	display: none;
}
.dn {
	display: none; 
}
.buddypresswrapper {
	background-color: #ff9a1a; 
	#buddypress {
		margin-top:20px;
		background-color: white; 
		padding: 30px; 
		#item-header {
			#item-header-avatar img {
				border-radius: 50%; 
				width: 100px !important;
				height: 100px !important; 
			}
			#item-header-content {
				h2 {
					font-size: 24px; 
				}
				p {
					font-size: 16px;
					line-height: 24px;
				} 
			}
		}
		#item-nav {
			.item-list-tabs {
				border-left: 1px solid #ddd;
				ul li {
					& {
						width: 25%; 
						height: 70px; 
						text-align: center;
						border-top: 1px solid #ddd;
						border-right: 1px solid #ddd;
						background-color: #f5f5f5;
						box-shadow: 0px -7px 13px -9px #747474 inset;
						a {
							line-height: 68px; 
							font-family: Lato, Arial, Helvetica, sans-serif; 
							color: black; 
							font-weight: 400; 
							padding: 0 !important;
							text-transform: lowercase; 
							.count {
								color: white;
								border: none; 
							}
							&:before {
								display: inline-block;
								margin-right: 10px;
								height: 54px;
							}
						}
						#user-xprofile:before {
							content: url(/images/profile.png);
							vertical-align: -16px;
						}
						#user-messages:before {
							content: url(/images/messages.png);
							vertical-align: -8px;
						}
						#user-notifications:before {
							content: url(/images/testimonials.png);
							vertical-align: -12px;
						}
						#user-members-following:before {
							content: url(/images/favourites.png);
							vertical-align: -15px;
						}
						#user-master:before {
							content: url(/images/becomeamaster.png); 
							vertical-align: -16px;
						}
					}
					&.current {
						box-shadow: none; 
						a {
							background-color: white; 
						}
					}
					&:first-child {
						display: none; 
					}
					&.masterwidth {
						width: 20% !important; 
					}
				}
			}
		}
		#item-body {
			.profile {
				display: inline-block;
				width: 100%;  
				.bp-avatar-status .warning {
					display: none; 
				}
			}
			.messages {	
				padding-left: 0px;
				li {
					padding: 15px;
					background-color: whitesmoke;
					border-radius: 10px;
					list-style: none;
					margin-bottom: 20px;
					cursor:  pointer; 
					&:hover {
						background-color: white;
					}
					.messageava , .avatar {
						width: 50px;
						height: 50px;
						margin-right: 15px;
						border-radius: 50%; 
					}
					.messagename {
						text-transform: uppercase;
					}	
					.messagecounter {
						float: right;
						padding-top: 8px;

						img {
							margin-bottom: 6px;
							margin-left: 20px;
						}
						.mymessagenumber {
							color: white;
							background-color: #FF9A1A;
							padding: 4px 8px;
							border-radius: 50%;
							margin-left: 20px;
							margin-right: 20px;
						}
					}
					.rang {
						float: right;
						padding: 8px;
						color: #FF9A1A;
						font-size: 22px;
						font-weight: bold;
					}
					.testimonialseparator {
						display: block;
						border-top: 1px solid #ddd;
						margin-top: 15px;
						padding-top: 15px;	
					}	
					.count {
						color: white;
						border: none;
						border-radius: 50%;
						width: 17px;
						height: 17px;
						display: inline-block;
						padding: 1px 5px;
						font-size: 11px;
						vertical-align: middle;
					}
					.namepluscount {
						width: 25%;
						display: inline-block;
					}
					&.unreadthread {
						.namepluscount a:nth-child(2) , .lastmessage {
							font-weight: bold; 
						}
					}
					.dateplusdelete {
						float: right; 
						margin-top: 15px;
						a {
							margin-left: 15px; 
						}
					}
				}
			}
			.message-box {
				.messageava60 img {
					width: 60px !important;
					height: 60px !important; 
					border-radius: 50%; 
					display: inline-block; 
					float: left;
					margin-right: 10px !important; 
				}
				.message-content {
					margin-left: 70px; 
					margin-top: -37px;
					margin-bottom: 37px;
				}
			}
			#message-thread {
				position: relative; 
				#message-recipients {
					margin-bottom: 200px; 
				}
				#send-reply {
					position: absolute; 
					top: 20px; 
					width: 100%; 
					
				}
				#message_content {
					width: 100%;
					height: 90px; 
				}
			}
			#members-order-select {
				display: none; 
			}
			#becomemaster {
				.accordion-group {
					.accordion-heading {
						background-color: #FF9A1A;
						padding: 10px;
						margin-bottom: 10px;
						border-radius: 5px;
						text-align: center;
						a {
						color: #fff;
						font-size: 18px;
						text-transform: uppercase;
						margin-left: 10px;
						}
						img {
							width: 60px;
						}
					}
					.accordion-inner {
						ul {
							span {
							font-size: 18px;
							text-transform: uppercase;
							margin-bottom: 10px;						
							}
							li {
								font-size: 18px;
								margin-bottom: 5px;
								cursor: pointer; 
							}
						}
					}
				}
			}
			.myservices {
				#pricefrom , #priceto {
					float: left;
					width: 80px;  
					height: 30px;
					margin-left: 5px;
					margin-right: 5px; 
				}
				.pricefrom , .priceto {
					float: left; 
					line-height: 30px;
				}
				.phoneprefix {
					float: left;
					line-height: 30px;
				}
				#rabtel {
					width: 98px;
					float: left; 
					height: 29px;
					margin-right: 5px; 
					margin-left: 5px; 
				}
				.serviceprice {
					display: inline-block; 
				}
			}
		} 
	}
}
.my-account.master #buddypress #item-body {
	display: inline-block; 
	.cat-item {
		overflow: hidden; 
		list-style-type: none; 
		background-color: #ff9a1a;
		border-radius: 3px;
		margin-bottom: 10px; 
		background-size: 60px;
		background-repeat: no-repeat; 
		background-position: 10px 10px; 
		a {
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
			margin-left: 10px;
			line-height: 80px; 
			padding-left: 70px; 
			height: 20px;
		}
		.children {
			height: 0; 
			margin-bottom: 0px; 
		}
		.ha {
			height: auto !important; 
			padding-left: 10px;
			background-color: white; 
			padding-top: 10px;
			padding-bottom: 10px;
			li {
				padding-left: 0; 
				background-color: white; 
				margin-bottom: 0 !important; 
				margin-top: 10px; 
				a {
					color: black; 
					line-height: 20px; 
					font-size: 14px; 
					padding-left: 0px; 
					margin-left: 0px; 
				}
				.ha {
					padding-left: 20px;
					a {
						text-transform: none;
					}
				}
			}
		}
	}
	.cat-item-14 {
		background-image: url('/images/santehnik-1.png'); 
	}
	.cat-item-73 {
		background-image: url('/images/elektrik-1.png'); 
	}
	.cat-item-102 {
		background-image: url('/images/mebel-1.png'); 
	}
	.cat-item-136 {
		background-image: url('/images/gruzchik-1.png'); 
	}
	.cat-item-150 {
		background-image: url('/images/remont-1.png'); 
	}
	.cat-item-191 {
		background-image: url('/images/technik-1.png'); 
	}
	.cat-item-200 {
		background-image: url('/images/myjnachas-1.png'); 
	}
	.myservices .addnewservice {
		margin-top: 20px;
		margin-bottom: 20px; 
	}
}
.my-messages {
	#subnav {
		display: none; 
	}
	&.inbox .messages {
		margin-top: 50px; 
	}
}
.mobile {
	.background {
		background-image:none;
		background-color: #ff9a1a;
	}
}

.vkapi_vk_login tbody {
    margin-bottom: 20px;
    height: 40px;
    width: 190px;
    border-radius: 4px;
    background-image: url('/images/vk-enter.jpg');
    display: inline-block;
	tr {
		display:none;
	}
}

.phone-calls {
	border: 1px solid #dddddd;
	width: 100%;
	padding: 20px;
	margin-top: 30px;
	.call-center-img {
		img {
		    border-radius: 50%;
			width: 150px;
		}
	}
}

#time-selector:before {
	content: "";
	display: inline-block;
	margin-right: 5px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #9ade47;
}

.homelogo {
	display: inline-block;
    width: 82px;
    overflow: hidden;
    height: 82px;
    vertical-align: top;
    margin-left: 10px;
	.homelink {
	    box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: block;
		height: 82px;
		position: relative;
	    text-decoration: none;	
		padding-top: 52px;
		text-align: center;
		-webkit-transition: margin-top .25s ease-out;
		-moz-transition: margin-top .25s ease-out;
		transition: margin-top .25s ease-out;		
		.homelink-btn {
		    font-size: 1.5rem;
			line-height: 180px;
			color: #fff;
		}
	}
}
.homelogo:hover a {
	margin-top: -100px;
}
.homelink:after {
	content: "";
	width: 81px;
	height: 82px;
	position: absolute;
	top: 28px;
	left: 50%;
	margin-top: -13px;
	margin-left: -40px;
	background: url(/images/logosmall-hover.png) no-repeat;
}